.idea
.idea/*
.idea/**/*

js/dojo
js/dojo/*
js/dojo/**/*

js/dojox
js/dojox/*
js/dojox/**/*

js/dijit
js/dijit/*
js/dijit/**/*

js/xstyle
js/xstyle/*
js/xstyle/**/*

js/put-selector
js/put-selector/*
js/put-selector/**/*

js/dstore
js/dstore/*
js/dstore/**/*

js/dgrid
js/dgrid/*
js/dgrid/**/*

js/util
js/util/*
js/util/**/*

js/ol3
js/ol3/*
js/ol3/**/*